
@model WebBanHang.Models.QuanAo
@{
    ViewData["Title"] = "QuanAoDetails";
    Layout = "~/Views/Shared/_DetailView.cshtml";
}
<div class="product__details__pic__item" > 
    <center>
    <img src="/img/product/@Model.Anh">
    </center>
<div class="product__details__text">
    <h4>@Model.TenSP</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <span> - 5 Reviews</span>
    </div>
    <h3>@Model.GiaBan VND </h3>
    <p>
        @Model.MoTa
    </p>
    <div class="product__details__option">
        <div class="product__details__option__size">
            <span>Size:</span>
            <label for="xxl">
                x
                <input type="radio" id="xxl">
            </label>
            <label class="active" for="xl">
                xl
                <input type="radio" id="xl">
            </label>
            <label for="l">
                l
                <input type="radio" id="l">
            </label>
            <label for="sm">
                s
                <input type="radio" id="sm">
            </label>
        </div>
        <div class="product__details__option__color">
            <span>Color:</span>
            <label class="c-1" for="sp-1">
                <input type="radio" id="sp-1">
            </label>
            <label class="c-2" for="sp-2">
                <input type="radio" id="sp-2">
            </label>
            <label class="c-3" for="sp-3">
                <input type="radio" id="sp-3">
            </label>
            <label class="c-4" for="sp-4">
                <input type="radio" id="sp-4">
            </label>
            <label class="c-9" for="sp-9">
                <input type="radio" id="sp-9">
            </label>
        </div>
    </div>
    <div class="product__details__cart__option">
        <div class="quantity">
            <div class="pro-qty">
                <span class="fa fa-angle-up dec qtybtn"></span>
                <input type="text" value="1">
                <span class="fa fa-angle-down inc qtybtn"></span>
            </div>
        </div>
       @*  *@
    </div>
   @* <div class="product__details__btns__option">
        <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
        <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
    </div> *@
    <div class="product__details__last__option">
            <h5><span><a href="#" style="color:black">Buy</a></span></h5>
        <img src="img/shop-details/details-payment.png" alt="">
        <ul>
            <li><span>SKU:</span> 3812912</li>
            <li><span>Categories:</span> Clothes</li>
            <li><span>Tag:</span> Clothes, Skin, Body</li>
        </ul>
            
    </div>
</div>
</div>

