@model WebBanHang.Models.NhaCungCap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .details {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 30px;
    }
</style>

<div class="details">
    <h4>Nhà cung cấp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaNCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNCC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNCC">Chỉnh sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
